{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" href="../../static/chat/chat.css" />

        <script>
            var usuario = "{{usuario}}"
        </script>
        <script type="text/javascript" src="../../static/chat/jquery-2.2.3.min.js"></script>
        <script type="text/javascript" src="../../static/chat/chat.js"></script>
    </head>
    <body onload="get_users_on()">
        <div id="box_header">
            <label>Bem vindo {{usuario}} ao Mini Chat Django</label>
        </div>

        <div id="box_chat">
            <div id="box_users">
                <div class="box_user_unique" onclick="user_selected(this)">
                </div>
            </div>

            <div id="box_chat_text">
                <div id="box_messages">
                    <div class="msg_unique_user">
                        Bem vindo ao Chat
                    </div>
                    <div class="msg_unique_other">
                        Selecione algum usuario ao lado para conversar
                    </div>

                </div>
                <div id="box_send_message">
                    <form id='form_message'>
                        <textarea id="text_input"></textarea>
                        <input id="text_send" type="submit" value="S">
                    </form>
                </div>
            </div>

        </div>
    </body>

</html>
