#box_chat {
    width:50%;
    height:100%;
    background-color: bisque;
}

#box_users {
    width: 30%;
    height: 100%;
    float: left;
    background-color: azure;
}

.box_user_unique {
    width: 90%;
    height: 5%;
    border-radius: 2px;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    background-color: cadetblue;
}

#box_chat_text{
    width: 70%;
    height: 100%;
    float: right;
}

#box_messages{
    width: 90%;
    height: 85%;
    margin-left: 5%;
    margin-top: 5%;
    background-color: wheat
}

.msg_unique_user {
    float: right;
    width: 60%;
    height: 5%;
    margin-top: 2%;
    display: table;
    background-color: cadetblue;
}

.msg_unique_other{
    float: left;
    width: 60%;
    height: 5%;
    margin-top: 2%;
    display: table;
    background-color: cornflowerblue;   
}

#box_send_message{
    width: 90%;
    height: 6%;
    min-height: 5%;
    float: left;
    margin-left: 5%;    
}


#text_input{
    width: 90%;
    height: 100%;
    float: left;
    resize: none;
}

#text_send {
    width: 10%;
    height: 100%;
    float: right; 
    border: none;
    background-color: cornflowerblue;
}