#box_header{
    width: 50%;
    height: 6%;
    background-color: #131719
}

label{
    color: darkgray;
    font-size: 20px;
    font-family: "Arial", Times, serif;    
}

#box_chat {
    width:50%;
    height:80%;
}

#box_users {
    width: 30%;
    height: 100%;
    float: left;
    background-color: #2E3742;
}

.box_user_unique {
    width: 90%;
    height: 5%;
    border-radius: 2px;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    background-color: #425361;
    font-family: "Arial", Times, serif;
}

#box_chat_text{
    width: 70%;
    height: 100%;
    float: right;
    background-color: #22262B;   
}

#box_messages{
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 5%;
    background-color: #262E36
}

.msg_unique_user {
    float: right;
    width: 60%;
    height: 5%;
    margin-top: 2%;
    display: table;
    padding: 2%;
    background-color: #7B91BD;
    font-family: "Arial", Times, serif;
}

.msg_unique_other{
    float: left;
    width: 60%;
    height: 5%;
    margin-top: 2%;
    display: table;
    padding: 2%;
    background-color: #666C9C; 
    font-family: "Arial", Times, serif;  
}

#box_send_message{
    width: 90%;
    height: 6%;
    min-height: 5%;
    float: left;
    margin-left: 5%;     
}


#text_input{
    width: 90%;
    height: 100%;
    float: left;
    resize: none;
    font-family: "Arial", Times, serif;
}

#text_send {
    width: 10%;
    height: 100%;
    float: right; 
    border: none;
    background-color: #7B91BD;
}