body{
    margin: 0;
}

#box_header{
    width: 100%;
    height: 6%;
    background-color: #131719
}

label{
    color: darkgray;
    font-size: 18px;
    font-family: "Arial", Times, serif;
}

#box_chat {
    width:100%;
    height:94%;
}

#box_users {
    width: 100%;
    height: 10%;
    float: left;
    background-color: #2E3742;
}

.box_user_unique {
    width: 20%;
    height: 70%;
    border: none;
    border-radius: 5px;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
    background-color: #425361;
    font-family: "Arial", Times, serif;
    font-size: 20px;
}

#box_chat_text{
    width: 100%;
    height: 90%;
    float: right;
    background-color: #22262B;
}

#box_messages{
    width: 90%;
    height: 70%;
    margin-left: 5%;
    margin-top: 5%;
    background-color: #262E36;
    overflow-x: auto;
}

.msg_unique_user {
    float: right;
    width: 60%;
    height: 5%;
    margin-top: 2%;
    display: table;
    padding: 2%;
    background-color: #7B91BD;
    font-family: "Arial", Times, serif;
    font-size: 20px;
}

.msg_unique_other{
    float: left;
    width: 60%;
    height: 5%;
    margin-top: 2%;
    display: table;
    padding: 2%;
    background-color: #666C9C;
    font-family: "Arial", Times, serif;
    font-size: 20px;
}

#box_send_message{
    width: 90%;
    height: 20%;
    min-height: 5%;
    float: left;
    margin-left: 5%;
    margin-top: 2%;
}


#text_input{
    width: 90%;
    height: 100%;
    float: left;
    resize: none;
    font-family: "Arial", Times, serif;
    font-size: 20px;
}

#text_send {
    width: 10%;
    height: 100%;
    float: right;
    border: none;
    background-color: #7B91BD;
}
